<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>Frontend Mentor | Space tourism website</title>
</head>
<body>
  <header class="menu-header flex">
    <div>
      <img src="assets/shared/logo.svg" alt="logo-img" class="logo">     
    </div>
    <button class="menu-toggle" aria-controls="primary-navigation" aria-expanded="false">
      <span class="sr-only"></span>
    </button> 
    <nav>
      <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
        <li class="navs active"><a href="#"><span aria-hidden="true">01</span>Home</a></li>
        <li class="navs"><a href="#"><span aria-hidden="true">02</span>Destination</a></li>
        <li class="navs"><a href="#"><span aria-hidden="true">03</span>Crew</a></li>
        <li class="navs"><a href="#"><span aria-hidden="true">04</span>Technology</a></li>
      </ul>
    </nav>
  </header>

  02 Meet your crew

  Commander
  Douglas Hurley

  Douglas Gerald Hurley is an American engineer, former Marine Corps pilot 
  and former NASA astronaut. He launched into space for the third time as 
  commander of Crew Dragon Demo-2.
</body>
</html>