<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
  <link rel="stylesheet" href="../css/style.css" type="text/css">
  <link rel="stylesheet" href="../css/crew.css" type="text/css">
  <title>Frontend Mentor | Space tourism website</title>
</head>
<body class="moon-body">
  <header class="menu-header flex">
    <div>
      <a href="#">
        <img src="../assets/shared/logo.svg" alt="logo-img" class="logo">
      </a>  
    </div>
    <button class="menu-toggle" aria-controls="primary-navigation" aria-expanded="false">
      <span class="sr-only"></span>
    </button> 
    <nav>
      <ul id="primary-navigation" data-visible="false" class="primary-navigation flex">
        <li class="navs"><a href="../index.html"><span aria-hidden="true">00</span>Home</a></li>
        <li class="navs"><a href="../views/destination-moon.html"><span aria-hidden="true">01</span>Destination</a></li>
        <li class="navs active"><a href="#"><span aria-hidden="true">02</span>Crew</a></li>
        <li class="navs"><a href="../views/technology-vehicle.html"><span aria-hidden="true">03</span>Technology</a></li>
      </ul>
    </nav>
  </header>
  <section class="destiny-section flex gap-10">
    <div class="first-wrap grid">
      <div class="meet-crew">
        <span class="choose-span text-color"><span class="choose-span text-color num mr-1">02</span>Meet your crew</span>
      </div>
      <div class="wrapper-content-crew grid">
        <div class="text-description-crew text-color">
          <span class="title-crew-member bellefair">Pilot</span>
        </div>
        <div class="text-description-crew text-color-white">
          <span class="title-crew bellefair">Victor Glover</span>
        </div>
        <div class="text-description-crew text-color">
          <p class="description">Pilot on the first operational flight of the SpaceX Crew Dragon to the 
            International Space Station. Glover is a commander in the U.S. Navy where 
            he pilots an F/A-18.He was a crew member of Expedition 64, and served as a 
            station systems flight engineer.</p>
        </div>
      </div>
      <div class="indicators-container">
        <ul class="indicators-crew">
          <a class="" href="crew-commander.html"><li class="indicators"></li></a>
          <a class="" href="crew-engineer.html"><li class="indicators"></li></a>
          <a class="" href="#"><li class="indicators active-crew"></li></a>
          <a class="" href="crew-specialist.html"><li class="indicators"></li></a>
        </ul>
      </div>
    </div>
    <div class="img-holder-crew margin-block-start-12">
      <img src="../assets/crew/image-victor-glover.webp" alt="commander">
    </div>
  </section>

  <script src="../js/functions.js"></script>
</body>
</html>